.part-01 {
    width: 100%;
    height: calc(100vh - 6px);
    overflow: hidden;

    border-bottom: 2px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .part-00{
    width: 100%;
    background: url(../resources/geometricBg.png); 
    background-size: cover;
  }
  .flex{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    font-size: 2em;
    text-shadow: 0px 2px 3px black;
  }
  .title2{
    font-size: 1.6em;
    text-shadow: 0px 2px 3px black;
  }
  .title span{
    color: #61dafb;
    text-shadow: 0px 2px 5px rgb(27, 27, 27);
  }
  .App-link {
    color: #61dafb;
  }
  .App-link:hover{
    text-decoration: none;
    color: #1bccfd;
    text-shadow: 0px 2px 3px black;
  }
  .App-logo {
    height: 45vmin;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      border-radius: 90em;
      box-shadow: 2px 5px 20px black;
      transition: all 1s ease-out;
    }
  }

  .About-Me{
      color: black;
      background-color: #61dafb;
background-image: -webkit-linear-gradient(100deg, #a7ecff 35%, #f8f8f8 30%);
  }
  .button {
    border: 2px solid #fff;
    box-sizing: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 10px 20px;
    transition: all 0.5s;
    background: transparent;
    color: white;
  }
.button:hover{
    background: #0090b8;
    border: 2px solid #0090b8; 
    
  }
  .arrowIcon{
      padding-left: 10px;
      font-size:1.2em;
      
  }
  .icon{
    transform: rotate(0deg);
    transition: all 0.4s;
}
.button:hover .icon{
    transform: rotate(90deg);
}  
 .About-Description{
     margin:auto;
     padding: 15px;
 }
 .About-Title{
     padding-top: 15px;
     font-size: 30pt;
    color: #444649;
 }
 .title-bar{
    background: #444649;
    height: 4px;
    margin: 25px 0 75px 0;
    width: 70px;
 }
 .separator-bar{
    background: #444649;
    height: 4px;
    margin: 25px 0 75px 0;
    width: 60%;
 }