.part-01 {
    width: 100%;
    height: calc(100vh - 6px);
    overflow: hidden;
    border-bottom: 3px solid black;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../resources/action-blur-bulb-dark-355904.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
  }
  .part-00{
    width: 100%;
    background: black;
  }
  .flex{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title{
    font-size: 2em;
    text-shadow: 0px 2px 3px black;
  }
  .title2{
    font-size: 1.6em;
    text-shadow: 0px 2px 3px black;
  }
  .title span{
    color: #61dafb;
    text-shadow: 0px 2px 5px rgb(27, 27, 27);
    font-style: italic;
  }
  .App-link {
    color: #61dafb;
  }
  .App-link:hover{
    text-decoration: none;
    color: #1bccfd;
    text-shadow: 0px 2px 3px black;
  }
  .App-logo {
    height: 45vmin;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      border-radius: 90em;
      box-shadow: 2px 5px 20px black;
      transition: all 1s ease-out;
    }
  }

.About-Me2{
      color: black;
      background-color: transparent;
    background-image: -webkit-linear-gradient(104deg, #61dafb 30%, transparent 20%);
}
.About-Me{
    color: black;
    background-color: white;
  background-image: -webkit-linear-gradient(45deg, red 22%, transparent 22%);
}
.description-title{
  text-align: center;
  font-size: 2em;
}
.button {
  border: 2px solid #fff;
  box-sizing: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  padding: 10px 20px;
  transition: all 0.5s;
  background: transparent;
  color: white;
  background: rgba(0, 0, 0,.7);
}
.button:hover{
    background: #0090b8;
    border: 2px solid #0090b8; 
    
  }
  .arrowIcon{
      padding-left: 10px;
      font-size:1.2em;
      
  }
  .icon{
    transform: rotate(0deg);
    transition: all 0.4s;
}
.button:hover .icon{
    transform: rotate(90deg);
}  
 .About-Description{
     margin:auto;
     padding: 15px;
     color: #35393d;
 }
 .About-Title{
     padding-top: 15px;
     font-size: 30pt;
    color: #35393d;
 }
.about-content
{
  text-align: left;
  width: 65%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  border-radius: 3px;
  box-shadow: 0px 1px 4px black;
}
 .title-bar{
    background: #35393d;
    height: 4px;
    margin: 15px 0 60px 0;
    width: 100px;
 }
 .separator-bar{
    background: #35393d;
    height: 4px;
    margin: 25px 0 75px 0;
    width: 60%;
 }