/* Coolors Exported Palette - coolors.co/212733-bc2121-384151-702632-912f40 */

/* HSL */
$colorhsla1: hsla(220%, 21%, 16%, 1);
$colorhsla2: hsla(0%, 70%, 43%, 1);
$colorhsla3: hsla(218%, 18%, 27%, 1);
$colorhsla4: hsla(350%, 49%, 29%, 1);
$colorhsla5: hsla(350%, 51%, 38%, 1);
/*Pallette idea 1*/
$mainBlack: #000000;
$mainBlue: #226089;
$Blue2: #4592af;
$Blue2Light: #5ab0cf;
$BlueShadow: #0f2d41;
$sand: #e3c4a8;
/*Pallette idea 2 blue/green/gold/silver*/
$silver2: #a9aab1;
$silver: #dee1ec;
$yellow2: #eac100;
$green2: #0b8457;
$backgroundBlue: #10316b;

/* RGB */
$color1: rgba(33, 39, 51, 1);
$color2: rgba(188, 33, 33, 1);
$color3: rgba(56, 65, 81, 1);
$color4: rgba(112, 38, 50, 1);
$color5: rgba(145, 47, 64, 1);
$color6: #61dafb;
$color7: #011014;
$color8: #011f28;
$color9: #022f3c;
$color10: rgb(2, 63, 80);
$color11: #034e63;
$color12: #035e77;
$color13: #046e8b;
$color14: rgba(4, 126, 159, 1);
$color15: rgb(5, 141, 179);
$color16: #059dc7;
$color17: #06addb;
$color18: #06bcef;
$color19: #10c6f9;
$color20: #24cbf9;
$color21: #38d0fa;
$color22: #4cd5fa;
$color23: #60d9fb;
$color24: #74defb;
$color25: #88e3fc;
$color26: #9ce7fc;
$color27: #afecfd;
$color28: rgb(195, 241, 253);
$color29: #d7f6fe;
$color30: #ebfafe;
$color31: #ffffff;