/* Coolors Exported Palette - coolors.co/212733-bc2121-384151-702632-912f40 */

/*Pallette idea 1*/
$mainBlack: #000000;
$mainBlue: #226089;
$Blue2: #4592af;
$Blue2Light: #5ab0cf;
$BlueShadow: #0f2d41;
$sand: #e3c4a8;

$silver: #dee1ec;
$backgroundBlue: #10316b;

$mainHighlight: #61DAFB;
$mainHighlightTransparent: rgba(97, 218, 251,.5);
$mainHighlightDarker: rgb(31, 184, 226);
$mainBackground: #08112A;
$mainBackgroundTransparent: rgba(8, 17, 42,.6);
$black: #070707;
$secondaryColor: #AD8A64;
$lightBackground: #5D5F71;
$lightBackgroundTransparent: rgba(93, 95, 113,.5);
$lightGrayText: #AD8A64;

