/* Coolors Exported Palette - coolors.co/212733-bc2121-384151-702632-912f40 */

/* HSL */
$color1: hsla(220%, 21%, 16%, 1);
$color2: hsla(0%, 70%, 43%, 1);
$color3: hsla(218%, 18%, 27%, 1);
$color4: hsla(350%, 49%, 29%, 1);
$color5: hsla(350%, 51%, 38%, 1);

/* RGB */
$color1: rgba(33, 39, 51, 1);
$color2: rgba(188, 33, 33, 1);
$color3: rgba(56, 65, 81, 1);
$color4: rgba(112, 38, 50, 1);
$color5: rgba(145, 47, 64, 1);
$color6: #61dafb;