.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    width: 100%;
  }
  .grid-item {
    background-color: rgba(56, 65, 81, .5);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    padding: 20px;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    height: 300px;
    transition: box-shadow .4s, background-color .4s;
    color: white;
  }
  .grid-item:hover {
    background-color: rgba(56, 65, 81, 1);
    box-shadow: 10px 10px 0px rgba(112, 38, 50, 1) , 20px 20px 0px #61dafb;
  }
  @media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: auto;
    }
  }