@import './palette.scss';

.bodyblock{
    height: 90vh;
    max-width: 1000px;
    width: 80vw;
}
.head{
    padding-top: 15px;
    width: 100%;
    background-color:rgba(112, 38, 50, 1);
    color: white;
    padding-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    float: left;
    top: 0;
}
.PageBox{
    width: 100%;
    height: 100%;
    color: black;
    position: relative;
}
.LeftSideBox{
    width: 30%;
    height: 100%;
    background-color: rgba(145, 47, 64, 1);
    color: white;
    float:left;
}
.RightSideBox{
    background-color: white;
    width: 100%;
    float: left;
    height: auto;
    text-align: left;
    padding: 10px;
}
.mainContent{
    display: flex;
    align-items: stretch;
    width: 100%;
}