@import './css/palette.scss';

.App {
  text-align: center;
  font-family: 'Raleway-semibold', sans-serif;
}
.App-body {
  background: $mainBlue;  /* fallback for old browsers */

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}




